<form class="" action="/recipes/<%=@recipe.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h2>Edit your recipe</h2>
  <h3>Recipe Name</h3>
  <input type="text" name="recipe[name]" value="<%=@recipe.name%>"><br><br>
  <h3>Enter ingredients</h3>
  <textarea rows="6" cols="50" name="recipe[ingredients]" value="<%=@recipe.ingredients%>"></textarea><br><br>
  <h3>Enter Cook Time</h3>
  <input type="text" name="recipe[cook_time]" value="<%=@recipe.cook_time%>"><br><br>
  <input type="submit" value="submit">
</form>
